Source: swift-sdk-cpp
Section: net
Priority: optional
Maintainer: onedata Package Maintainer <support@onedata.org>
Build-Depends:
    debhelper (>= 9),
    g++ (>= 4.9.0),
    git,
    libpoco-dev,
    libpocofoundation9v5,
    libpoconetssl9v5,
    libpocoutil9v5,
    libpocoxml9v5,
    make
Standards-Version: 3.9.5
Homepage: https://onedata.org

Package: swift-sdk-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Swift SDK for C++
